{
    box-sizing: border-box;

}



body{
    margin: 0%;
    font-family: Verdana, sans-serif;
    background-image: url(https://cdn.jsdelivr.net/gh/Dennisvc12/uvetech@main/tec.png);
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;;
    

}


h1{ font-size: 0.8em;}
h2{ font-size: 0.8em;}
h3{ font-size: 0.8em;}
h4{ font-size: 0.8em;}

p{font-size: 0.9em;}



button{
    font-size: 0.8em;
    font-weight: bolder;
    padding: 12px 27px;
    border-radius: 100px;
    border: 0px;
    background-color: white;
    cursor: pointer;
    text-align: center;
   

}


    button:hover{
        cursor:  pointer;
        text-align: center;
        
    }
        


        .container{
            max-width: 1066px;
            margin: auto;
            cursor:  pointer;
            text-align: center;
        }
            
            .LAPTOPS{
                cursor:  pointer;
                text-align: center;
            }
        
            header{
                cursor:  pointer;
                text-align: center;
                ,}
        
            header .logo{
                margin: 3%;
                padding: 25px 30px;
                font-size: 50px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                
              display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-direction: column;
                 height: 8vh;
                 color: white;
                 
                
                }


                    
                    header nav{
                    margin: 0em;
                display: flex;
                flex-direction: above;
                text-align: above;
                padding-bottom: 80px;
                align-items: center;
                text-decoration: none;
                justify-content: above;
                flex-direction: column;
                 height: 78vh;
                 direction: above;
                 

                }

                header button{
                    cursor:  pointer;
                    background-color: transparent;
                    border: 0.1px solid;
                    border-color: rgb(139, 138, 138);
                    height: 70px;
                    width: 210px;
                    align-items: center;
                    text-align: center;
                    font-size: large;
                    margin: 20px;
                    border-radius: 0PX;
                    color: black;
                    

                
                }

                
                
                      
                        header a{
                            font-weight: bold;
                        text-decoration: none;
                        background-position: 20px;
                        color: rgb(255, 255, 255);
                        cursor:  pointer;
                        text-align: center;
                        
                    
                    }  
        
                            header a:hover{
                                cursor:  pointer;
                                text-align: center;
                            }

                          
                            
                           
                            
                            
                            }
                        
                             
                        

                    
                    
                            

    #LAPTOPS{

             }
    #LAPTOPS .container{
        text-align: center;
padding: 5px 142px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
     height: 100vh;;
    color: black;
    background-color: rgb(94, 183, 255);}
    
    
    #CELULARES{

    }

    #CELULARES .container{
text-align: center;
padding: 5px 142px;
display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
     height: 100vh;
    color: black;
    background-color: rgb(0, 140, 255);}


    #IMPRESORAS{

    }

    #IMPRESORAS .container{
text-align: center;
padding: 5px 142px;
display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
     height: 100vh;
    color: black;
    background-color: rgb(118, 162, 245);}


    #TABLETS{

    }

    #TABLETS .container{
text-align: center;
padding: 5px 142px;
display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
     height: 100vh;
    color: black;
    background-color: rgb(176, 201, 248);}




    footer{
    }

    footer .container{
        text-align: right;
padding: 5px 142px;
display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: black;
    background-color: rgb(3, 77, 214);
    height: 05vh;
    
    }
    
